.git/
.dockerignore
.idea/
.ruby-gemset
api_docs/
Dockerfile*
**/aws.creds
coverage/
.github/
node_modules/
npm-debug.log
tmp/
scripts/
log/
public/packs/# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore