// Place all the styles related to the ScheduleRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe-list-container {
  width: 300px;
  height: 100vh;
  max-width: 30%;
  border-right: 1px solid #e8e8e8;
}

.ant-list-item-meta-avatar {
  margin-top: 10px;
  margin-left: 20px;
}

.recipe-item-container {
  cursor: pointer;
}

.recipe-flex-container {
  display: flex;
  flex-direction: row;
}

.recipe-contents {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 70%;
}

.recipe-overview-body-flex {
  display: flex;
  flex-direction: row;
}

.recipe-overview-slot {
  margin-right: 40px;
}

.process-overview-row {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  .ant-card-bordered {
    width: 100%;
    margin-right: 50px;
  }
}

.operations-overview-row {
  max-width: 100%;
  overflow: auto;
}

.recipe-icon {
  height: 24px;
  margin-right: 10px;
}

.ingredient-button-container {
  float: right;
}

.recipe-search {
  margin-bottom: 20px;
}

.recipe-table-delete {
  color: #019BF0;
  cursor: pointer;
}

/* Ipad 3 */
@media screen and (max-width: 1536px) {
  .process-overview-row {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
    .ant-card-bordered {
      width: 100%;
      margin-right: 50px;
    }
  }

  .recipe-list-container {
    display: none
  }

  .recipe-contents {
    max-width: 100%;
  }
}