<!DOCTYPE html>
<html>
  <head>
    <title>UluwuServices</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- application.html.erb in Head tag below turbolinks -->
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
